<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
  <!-- 네비게이션 바 -->
  <div th:replace="fragments.html :: main-nav"></div>

  <!-- 본문 -->
  <!-- py : padding top and bottom 패딩을 top 과 bottom 에 5el 만큼 주겠다. -->
  <!-- text-center : 텍스트 가운데 정렬 -->
  <!-- 에러가 있으면 -->
  <div class="py-5 text-center" th:if="${error}">
    <p class="lead">스터디랜드 이메일 확인</p>
    <div class="alert alert-danger" role="alert">
      이메일 확인 링크가 정확하지 않습니다.
    </div>
  </div>
  <!-- 에러가 없으면 -->
  <div class="py-5 text-center" th:if="${error == null}">
    <p class="lead">스터디랜드 이메일 확인</p>
    <h2>
      이메일을 확인했습니다. <span th:text="${numberOfUser}">10</span>번째 회원,
      <span th:text="${nickname}">신영훈</span>님 가입을 축하합니다.
    </h2>
    <small class="text-info">이제부터 가입할 때 사용한 이메일 또는 닉네임과 암호로 로그인 할 수 있습니다.</small>
  </div>
</body>
</html>