<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- fragments.html에 정의되어 있는 head를 사용한다. -->
<!-- th:fragment="head" -->
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <!--  navigation  -->
    <div th:replace="fragments.html :: main-nav"></div>

    <div class="container">
        <div class="py-5 text-center"></div>
        <div th:replace="fragments.html :: footer"></div>
    </div>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="application/javascript">
        (function () {

        }())
    </script>
</body>
</html>